@import'bootstrap';
@import'/resources/css/main.css';
@import'/vendor/swiper/swiper-bundle.min.css';
@import'/vendor/bootstrap-icons/bootstrap-icons.css';
@import'/vendor/glightbox/css/glightbox.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400&family=Lugrasimo&family=Montserrat+Alternates:ital,wght@0,400;1,800&family=Raleway:ital,wght@1,200&family=Roboto+Slab&display=swap');

/*Progress bar*/

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: lightgray; /* Colore di sfondo della progress bar */
    border-radius: 10px;
    overflow: hidden;
}

.progress-fill {
    width: 90%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill2 {
    width: 75%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill3 {
    width: 70%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill4 {
    width: 80%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill5 {
    width: 90%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill6 {
    width: 90%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill7 {
    width: 70%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill8 {
    width: 80%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill9 {
    width: 85%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}
.progress-fill10 {
    width: 85%;
    height: 100%;
    background-color: #2cbc85; /* Colore di riempimento */
    transition: width 3s ease; /* Animazione di riempimento */
}

/*Glowing button*/

.glowing-btn{
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 1em;
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }
  .glowing-txt{
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
                         0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
                      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }
  .faulty-letter{
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  .glowing-btn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }
  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }
  .glowing-btn:hover{
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }
  .glowing-btn:hover .glowing-txt{
    animation: none;
  }
  .glowing-btn:hover .faulty-letter{
    animation: none;
    text-shadow: none;
    opacity: 1;
  }
  .glowing-btn:hover:before{
    filter: blur(1.5em);
    opacity: 1;
  }
  .glowing-btn:hover:after{
    opacity: 1;
  }
  @keyframes faulty-flicker{
    0%{
      opacity: 0.1;
    }
    2%{
      opacity: 0.1;
    }
    4%{
      opacity: 0.5;
    }
    19%{
      opacity: 0.5;
    }
    21%{
      opacity: 0.1;
    }
    23%{
      opacity: 1;
    }
    80%{
      opacity: 0.5;
    }
    83%{
      opacity: 0.4;
    }
    87%{
      opacity: 1;
    }
  }
  @keyframes text-flicker{
    0%{
      opacity: 0.1;
    }
    2%{
      opacity: 1;
    }
    8%{
      opacity: 0.1;
    }
    9% {
      opacity: 1;
    }
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25%{
      opacity: 0.3;
    }
    30%{
      opacity: 1;
    }

    70%{
      opacity: 0.7;
    }
    72%{
      opacity: 0.2;
    }

    77%{
      opacity: 0.9;
    }
    100%{
      opacity: 0.9;
    }
  }
  @keyframes border-flicker{
    0%{
      opacity: 0.1;
    }
    2%{
      opacity: 1;
    }
    4%{
      opacity: 0.1;
    }

    8%{
      opacity: 1;
    }
    70%{
      opacity: 0.7;
    }
    100%{
      opacity: 1;
    }
  }
  @media only screen and (max-width: 600px){
    .glowing-btn{
      font-size: 1em;
    }
  }

  /* Background animation */

  .square{
    height: 75vh;
    width: 50vw;
    display: table;
    position: absolute;
    background: rgba(39, 167, 118, 0.29);
    transform: rotate(45deg);
}
.square.square-tl{
    top: -70%;
    left: -15%;
    animation: bounce 6s infinite ease-in-out;
    background: rgba(39, 167, 118, 0.3);
    z-index: 50;
}
.square.square-tr{
    top: 10%;
    right: -25%;
    animation: bounce 5s infinite ease-in-out;
}
.square.square-bl{
    bottom: -80%;
    left: -15%;
    animation: bounce 4s infinite ease-in-out;
}
.square.square-br{
    bottom: -10%;
    right: -30%;
    animation: bounce 3s infinite ease-in-out;
    background: rgba(39, 167, 118, 0.488);
}
@keyframes bounce{
    0%{
        transform: translateY(0px) rotate(45deg);
    }
    50%{
        transform: translateY(20px) rotate(45deg);
        border-radius: 50px;
    }
    100%{
        transform: translateY(0px) rotate(45deg);
    }
}
.star{
    height: 50px;
    width: 50px;
    display: table;
    position: absolute;
    box-shadow: 0 0 5px 0 rgba(39, 167, 118, 0.5);
    transition: 0.5s;
}
.star1{
    bottom: -10%;
    left: -30%;
    transform: rotate(-30deg);
    animation: sweep 4s infinite;
    background: rgba(39, 167, 118, 0.5);
}
.star2{
    bottom: -30%;
    left: -10%;
    transform: rotate(-30deg);
    animation: sweep 3s infinite;
    background: rgba(39, 167, 118, 0.515);
}
@keyframes sweep{
    100%{
        bottom: 120%; left: 120%; transform: rotate(360deg);
    }
}

  /* Background animation - mobile view */

@media (max-width: 575px) {

.square{
    height: 35vh;
    width: 35vw;
    display: table;
    position: absolute;
    background: rgba(39, 167, 118, 0.29);
    transform: rotate(45deg);
}
.square.square-tl{
    top: -5%;
    left: -5%;
    animation: bounce 6s infinite ease-in-out;
    background: rgba(39, 167, 118, 0.3);
    z-index: 50;
}
.square.square-tr{
    top: 17%;
    right: -25%;
    animation: bounce 5s infinite ease-in-out;
}
.square.square-bl{
    bottom: -5%;
    left: -30%;
    animation: bounce 4s infinite ease-in-out;
}
.square.square-br{
    bottom: 30%;
    right: -30%;
    animation: bounce 3s infinite ease-in-out;
    background: rgba(39, 167, 118, 0.488);
}
@keyframes bounce{
    0%{
        transform: translateY(0px) rotate(45deg);
    }
    50%{
        transform: translateY(20px) rotate(45deg);
        border-radius: 50px;
    }
    100%{
        transform: translateY(0px) rotate(45deg);
    }
}
.star{
    height: 18px;
    width: 18px;
    display: table;
    position: absolute;
    box-shadow: 0 0 5px 0 rgba(39, 167, 118, 0.5);
    transition: 0.05s;
}
.star1{
    bottom: -10%;
    left: -30%;
    transform: rotate(-30deg);
    animation: sweep 4s infinite;
    background: rgba(39, 167, 118, 0.5);
}
.star2{
    bottom: -30%;
    left: -10%;
    transform: rotate(-30deg);
    animation: sweep 3s infinite;
    background: rgba(39, 167, 118, 0.515);
}
@keyframes sweep{
    100%{
        bottom: 120%; left: 120%; transform: rotate(360deg);
    }
}
}
